/*Mi codigo*/
section{
	margin-left: 105px;
}

h1{
	font: normal 2.4em Verdara, Geneva, sans-serif;
	background:-webkit-linear-gradient(top,#00f,#0cf);
	width: 40%;
	border-radius: 10px;
	margin: 15px auto;
	text-align: center;
	padding: 15px;
	color: #fff;
	box-shadow: #00f 5px 5px 10px;
	text-shadow: #fff 2px 2px 3px;
}

figure{
	float: left;
}

figure img{
	padding: 4px;
	background: #666;
	border-radius: 20px;
	margin-left: 20px;
	margin-top: 20px;
	-webkit-transition:-webkit-transform 0.4s ease-in-out 0.1s;
}

figure img:hover{
	-webkit-transform:scale(1.1);
}

figcaption{
	font-family: Arial, Helverica, sans-serif;
	font-size: 1.3em;
	text-align: center;
	color: #f00;
}